/*=============================
      Theme Variables
=============================*/

:root{
    --bg:#fefefe;
    --calculator:#b0adad77;
    --display:#fcfcfc;

    --text:#1f2937;
    --button:#f7f8f9;
    --button-hover:#87878aa2;

    --operator:#3b82f6;
    --operator-hover:#2563eb;

    --equal:#10b981;
    --equal-hover:#059669;

    --clear:#ef4444;
    --clear-hover:#dc2626;

    --shadow:0 20px 40px rgba(0,0,0,.15);
}


body.dark{

    --bg:#0f172a;
    --calculator:#1e293b;
    --display:#0b1220;

    --text:#f8fafc;

    --button:#334155;
    --button-hover:#475569;

    --operator:#818cf8;
    --operator-hover:#6366f1;

    --equal:#22c55e;
    --equal-hover:#16a34a;

    --clear:#f87171;
    --clear-hover:#ef4444;

    --shadow:0 20px 50px rgba(0,0,0,.45);
}

/*=============================
      Body
=============================*/

body{

    margin:0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,var(--bg),#dbeafe);

    font-family:Arial;

    transition:.4s;
}

/*=============================
      Theme Button
=============================*/

.theme-toggle{

    position:fixed;

    top:25px;
    right:25px;

    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    font-size:22px;

    background:var(--calculator);

    color:var(--text);

    box-shadow:var(--shadow);

    transition:.3s;

}

.theme-toggle:hover{

    transform:rotate(20deg) scale(1.05);

}

/*=============================
      Calculator
=============================*/

.keypad{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:15px;

    width:360px;

    padding:25px;

    background:var(--calculator);

    border-radius:22px;
      
    border: 3px solid var(--operator-hover);

    box-shadow:var(--shadow);

    transition:.4s;
      

}

/*=============================
      Display
=============================*/

#display{

    grid-column:span 4;

    height:70px;

    border:none;

    border-radius:15px;

    background:var(--display);

    color:var(--text);

    font-size:34px;

    text-align:right;

    padding-right:20px;

    outline:none;

}

/*=============================
      Buttons
=============================*/

.keypad button{

    height:65px;

    border:none;

    border-radius:15px;

    cursor:pointer;

    font-size:22px;

    font-weight:bold;

    background:var(--button);

    color:var(--text);

    transition:.2s;

}

.keypad button:hover{

    background:var(--button-hover);

    transform:translateY(-3px);

}

.keypad button:active{

    transform:scale(.95);

}

/*=============================
      Operators
=============================*/

.operator{

    background:var(--operator)!important;

    color:white!important;

}

.operator:hover{

    background:var(--operator-hover)!important;

}

/*=============================
      Equal
=============================*/

.equal{

    background:var(--equal)!important;

    color:white!important;

}

.equal:hover{

    background:var(--equal-hover)!important;

}

/*=============================
      Clear
=============================*/

.clear{

    background:var(--clear)!important;

    color:white!important;

}

.clear:hover{

    background:var(--clear-hover)!important;

}

/*=============================
      Responsive
=============================*/

@media(max-width:500px){

.keypad{

    width:90%;

}

}
